#commingMessage {
    position: fixed;
    bottom: 0;
    width: 80%;
    height: 15%;
}

#sendMessage {
    position: fixed;
    bottom: 0;
    width: 15%;
    height: 16%;
    left: 83%;
}
#username{
	position: fixed;
	bottom: 16%;
}

